@import "tailwindcss";

:root {
  --color-primary: #4F3FD7;
  --color-primary-hover: #173A2C;
  --color-secondary: #E8A33D;
  --color-tertiary: #1E2939;
  --color-footer: #0F2B22;
  --color-gray: #F3F4F6;
  --color-positive: #5BC493;
  --color-button:  #4F3FD7;

  --color-background: #ffffff;
  --color-foreground: #111111;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #6b7280;
  --color-border: #e5e7eb;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #f5f5f5;
  --color-muted: #1a1a1a;
  --color-border: #2a2a2a;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-button: var(--color-button);
  --color-positive: var(--color-positive);
  --color-tertiary: var(--color-tertiary);
  --color-footer: var(--color-footer);
  --color-gray: var(--color-gray);
  --color-primary-hover: var(--color-primary-hover);
  --color-background: var(--color-background);
  --color-secondary: var(--color-secondary);
  --color-muted: var(--color-muted);
  --color-border: var(--color-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-secondary);
  font-family: "National 2", Arial, sans-serif, Helvetica;
}
